<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=HMB_data;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!--HBM devices ports to connect via Ethernet-->
    <add key="PMXPort" value="55000" />
    <add key="QuantumXPort" value="501" />
    <add key="MGCPort" value="7" />
    <!--AI - analog input, DI - digital input, All - all signals-->
    <add key="SignalsType" value="AI" />
    <!--Period in seconds to periodical searching devices-->
    <add key="searchPeriod" value="2000" />
    <!--Time in seconds for searching the devices-->
    <add key="searchTime" value="15000" />
    <!--Time in milliseconds for fetching the data via DAQ-->
    <add key="fetchPeriod" value="3000" />
    <!--Frequency Hz for storing the data in logger-->
    <add key="sampleRate" value="1" />



  </appSettings>
  
  
</configuration>